body {

    background-attachment: fixed;
    background-image: url("../components/Images/BG-TelaInicial.jpg");

    
    background-color: rgba(0, 0, 0, 0.763);
    backdrop-filter: blur(5px);
    background-blend-mode: multiply; 

    color: white;
    font-family: poppinsregular;

    margin: 0 auto;
    display: flex;

    min-height: 100vh;
    overflow: hidden;

}

a {
    text-decoration: none;
    color: white;
}

li {
    list-style: none;
    color: white;
}

/*Logo e nome do projeto---------------------------------*/
#upx-name{
    margin: 10px;
    margin-bottom: -30px;
    display: flex;
    gap: 5px
}

#upx-name p {
    font-size: 25px;
    margin-top: 10px;
    margin-bottom: 20px;
}

.logo {
    margin-top: 5px;
    width: 70px;
    height: 40px;
    object-fit: cover;
}

/*Barra lateral------------------------------------------*/
#sidebar {
    background: rgba(255, 255, 255, 0.12);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    
    
    display: flex;
    flex-direction: column;
   
    width: 300px;
    height: 100vh;
    flex-shrink: 0;    
}

#sidebar-items {
    display: flex;
    flex-direction: column;

    gap: 10px;
    padding: 5px;
}

#sidebar-items a {
    background-color: rgba(255, 255, 255, 0.169);
    border-radius: 8px;
    border:rgba(255, 255, 255, 0.475) 1px solid;
    color: white;

    display: block;
    padding: 10px;
    
    transition: 0.3s ease;
}

#sidebar-items a:hover {
    transform: scale(1.02);
    background-color: rgba(255, 255, 255, 0.488);
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.322);
}

.page {
    display: none;
    width: 100%;
}

.page.active {
    display: block;
}

#sidebar-items a.active {
    background-color: rgba(255, 255, 255, 0.488);
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.322);
}

/*Container----------------------------------------------*/
.container {
    display: flex;
    flex-direction: column;
    flex: 1;
}
/*Header-------------------------------------------------*/

header {
    background: rgba(255, 255, 255, 0.12);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    height: 90px;
   
    margin-top: -20px;
    flex-shrink: 0;
}

#header-items {
    font-size: 20px;
    
    height: 50%;
    margin-right: 20px;

    display: flex;
    align-items: center;
    justify-content: flex-end;

    gap: 30px;
    
}

#header-items li {
    margin-top: 30px;
    transition: 0.3s ease;
}

#header-items li:hover{
    transform: translateY(-2px);
    color: rgb(106, 218, 233);
}

/*Main---------------------------------------------------*/

main {
    background-color: transparent;
    border-top:rgba(255, 255, 255, 0.475) 1px solid;
    border-left:rgba(255, 255, 255, 0.475) 1px solid;
    border-radius: 8px 0px;

    display: flex;
    padding: 20px;
    
    height: 990px;
}

/*Controle de gastos-------------------------------------*/

#controle-economia {
    background: rgba(255, 255, 255, 0.12);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    border: rgba(255, 255, 255, 0.475) 1px solid;
    border-radius: 8px;
    
    width: 600px;
    margin-bottom: 170px;
}

#controle-economia p {
    font-size: 30px;
    margin: 5px;
    margin-bottom: -15px;
    
}

#controle-economia > p::before,
#grafico-economia > p::before {
    content: "╭ ";
}
 
#controle-economia > p::after {
    content: " ─────────────";
    letter-spacing: -1px;
}


#controle-items {
    display: flex;
    flex-direction: column;

    gap: 10px;
    padding: 5px;
}

#controle-items span {
    background-color: rgba(255, 255, 255, 0.169);
    border-radius: 8px;
    border:rgba(255, 255, 255, 0.475) 1px solid;
    color: white;

    display: block;
    padding: 10px;
    margin-right: 5px;

    transition: 0.3s ease;
}

#controle-items span:hover {
    transform: scale(1.01);
    background-color: rgba(255, 255, 255, 0.488);
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.322);
}

.scroll {
    max-height: 750px;
    overflow: hidden;
    overflow-y: auto;

    scrollbar-width: auto;
    scrollbar-color: rgb(255, 255, 255) transparent;

    scrollbar-gutter: stable;
    margin-top: 10px;
}

/*Grafico------------------------------------------------*/

#grafico-economia {
    background: rgba(255, 255, 255, 0.12);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    border: rgba(255, 255, 255, 0.475) 1px solid;
    border-radius: 8px;

    width: 925px;
    
    margin-left: 20px;
    margin-bottom: 170px;
}

#grafico-economia p::after {
    content: " ────────────────────────────────";
    flex: 1;
    height: 2px;
}

#grafico-economia p {
    font-size: 30px;
    margin: 5px;
    margin-bottom: -15px;
}




