body {
    background: 
        radial-gradient(circle at 75% 25%, rgba(24, 141, 231, 0.5), transparent 50%),
        radial-gradient(circle at 20% 80%, rgba(1, 100, 180, 0.2), transparent 60%),
        #00243c;
    background-attachment: fixed;

    color: white;
    font-family: poppinsregular;

    margin: 0 auto;

    display: flex;
}

a {
    text-decoration: none;
    color: white;
}

li {
    list-style: none;
    color: white;
}

/*Logo e nome do projeto---------------------------------*/
#upx-name{
    margin: 10px;
    margin-bottom: -10px;
    display: flex;
    gap: 5px
}

#upx-name p {
    font-size: 25px;
    margin-top: 15px;
    margin-bottom: 20px;
}

.logo {
    margin-top: 10px;
    width: 70px;
    height: 40px;
    object-fit: cover;
}

/*Barra lateral------------------------------------------*/
#sidebar {
    background-color: rgba(255, 255, 255, 0.153);
    
    
    display: flex;
    flex-direction: column;
   
    width: 300px;
    height: 100vh;
}

#sidebar-items {
    display: flex;
    flex-direction: column;

    gap: 10px;
    padding: 5px;
}

#sidebar-items a {
    background-color: rgba(255, 255, 255, 0.297);
    border-radius: 8px;
    color: white;

    display: block;
    padding: 10px;
    
    transition: 0.3s ease;
}

#sidebar-items a:hover {
    transform: scale(1.02);
    background-color: rgba(255, 255, 255, 0.488);
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.322);
}

/*Header-------------------------------------------------*/

header {
   background-color: rgba(255, 255, 255, 0.153);
   height: 90px;
   
   margin-top: -20px;
}

#header-items {
    font-size: 20px;
    

    height: 60px;
    margin-right: 20px;

    display: flex;
    align-items: center;
    justify-content: flex-end;

    gap: 30px;
    
}

#header-items li {
    margin-top: 30px;
}
/*Main---------------------------------------------------*/

main {
    background-color: transparent;
    border-top:rgba(255, 255, 255, 0.475) 1px solid;
    border-left:rgba(255, 255, 255, 0.475) 1px solid;
    border-radius: 8px 0px;

    display: flex;
    padding: 20px;
    
    height: 841px;
}

#controle-economia {
    background-color: rgba(255, 255, 255, 0.153);
    border: rgba(255, 255, 255, 0.475) 1px solid;
    border-radius: 8px;
    
    width: 600px;
}

#controle-economia p {
    font-size: 30px;
    margin: 5px;
    margin-bottom: -15px;
}

#controle-items {
    display: flex;
    flex-direction: column;

    gap: 10px;
    padding: 5px;
}

#controle-items span {
    background-color: rgba(255, 255, 255, 0.297);
    border-radius: 8px;
    color: white;

    display: block;
    padding: 10px;

    transition: 0.3s ease;
}

#controle-items span:hover {
    transform: scale(1.01);
    background-color: rgba(255, 255, 255, 0.488);
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.322);
}


#grafico-economia {
    background-color: rgba(255, 255, 255, 0.153);
    border: rgba(255, 255, 255, 0.475) 1px solid;
    border-radius: 8px;

    width: 760px;
    
    margin-left: 20px;
}

#grafico-economia p {
    font-size: 30px;
    margin: 5px;
    margin-bottom: -15px;
}


