body {
    background-attachment: fixed;
    color: white;
    font-family: poppinsregular;
    max-width: none;
    margin: 0;
    min-height: 100vh;
    background-image: url("../../components/Images/yakin13.jpg") ;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow-y: hidden ;
    backdrop-filter: blur(5px);
}

header {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    margin: 20px;

}

a li {
    transition: all 0.5s ease;
    transform-origin: center;
    color:white;
    font-size: 30px;
}

a:hover li {
    transform: translateY(-2px);
    color: rgb(106, 218, 233);
}

.reserv-btn {
    background-color: aliceblue;
    color: rgb(0, 80, 145);
    border: 2px solid white;
    border-radius: 50px;
    padding: 10px;
    display: inline-block;
    margin-right: 50px;
    margin-left: -105px;
    margin-top:-10px;
    transition: all 0.5s ease;
    transform-origin: center;
    font-size: 30px;
}

.reserv-btn:hover {
    transform: scale(1.10);
    background-color: transparent;
    color: rgb(255, 255, 255);
}

.learn1-btn {
    color: rgb(255, 255, 255);
    border: 2px solid white;
    border-radius: 50px;
    padding: 10px;
    display: inline-block;
    margin-right: 50px;
    
    margin-top:-10px;
    transition: all 0.5s ease;
    transform-origin: center;
    font-size: 30px;
}

.learn1-btn:hover {
    transform: scale(1.10);
    background-color: rgb(255, 255, 255);
    color: rgb(0, 80, 145);
    
}

#title ul {
    flex-direction: row;
    line-height: 10px;
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
}

#title {
    margin-left: -15px;
}

li {
    display: inline-block;
    margin: 20px;
}

.logo {
    width: 100px;
    
}

h1 {
    font-weight: 200;
}

main {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
}

aside {
    max-width: 50%;
}

.placas {
    width: 600px;
    max-width: none;
    z-index: 2;
}

article {
    width: 55%;
    display: flex;
    justify-content: flex-end;
    margin-right: -200px;
    position: relative;
}

article::after {
    content: "";
    position: absolute;
    bottom: -10px;
    right: 105px;
    width: 400px;
    height: 60px;
    background: rgba(0, 0, 0, 0.4);
    filter: blur(25px);
    border-radius: 50%;
    z-index: 1;
}

.text {
    margin-left: -105px;
    font-size: 52px;
    font-family: poppinslight;
    line-height: 1.5;
    width: 900px;
}

.Container {
    position: relative;
    z-index: 1;
    display: flex;
    width: 500px;
    height: 550px;
    margin-top: -10px;

    background: rgba(255, 255, 255, 0.12);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);

    border: 1px solid rgba(255, 255, 255, 0.3);

    border-radius: 40px;
    transition: 1s;
    
}

.Container:hover, .Container:focus-within {
    box-shadow: 0 20px 40px rgba(0,0,0,0.5);
    
}

.corpo{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.Container{
    display: flex;
    flex-flow: column;
    align-items: center;
}

.Email, .Senha, .ConfirmarSenha{
    width: 80%;
    padding: 25px;
    border-radius: 30px;
    border: none;
    background-color: rgba(255, 255, 255, 0.8);
    font-size: 18px;
    cursor: pointer ;
    background: rgba(211, 211, 211, 0.418);
    transition: all 1s;
    margin: 10px;
}

.Email:focus, .Senha:focus, .ConfirmarSenha:focus{
    outline: none;
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.8);
}

.Email:focus-within, .Senha:focus-within{
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.8);
}


input{
    all: unset;
    color: #7AD8F0;
    font-size: 18px;
    font-family: poppinsregular;

}

input:focus{
    outline: none; 
}

input::placeholder{
    color: rgb(0, 0, 0);
    opacity: 0.5;
}

.login {
    font-size: 48px;
    margin-bottom: 30px;
    color: white;
    font-family: poppinsregular;
    text-shadow: 0 0 5px rgba(255, 255, 255, 0.8);
    transition: all 1s;
}

#loginButton{
    width: 80px;
    height: 60px;
    background-color: transparent;
    color: white;
    border: 2px solid white;
    border-radius: 10px;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    transition: all 0.5s ease;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
}

#loginButton:hover {
    background-color: white;
    color: rgb(0, 80, 145);
    border-color: white;

}

.Registrar{
    color: rgb(72, 139, 239);
    transition: all 0.5s ease;
    text-decoration: none;
}

.Registrar:hover{
    text-shadow: 0 0 5px rgba(42, 47, 49, 0.8);
}